<!-- profissional/profissional_form.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% if object %}Editar{% else %}Adicionar{% endif %} Profissional</title>
</head>
<body>
    <h1>{% if object %}Editar{% else %}Adicionar{% endif %} Profissional</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if object %}Atualizar{% else %}Adicionar{% endif %}</button>
    </form>

    <a href="{% url 'profissional-list' %}">Voltar para a lista</a>
</body>
</html>
