<!-- profissional/profissional_detail.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Profissional</title>
</head>
<body>
    <h1>Detalhes de {{ profissionais.nome }}</h1>
    <p>Nome: {{ profissionais.nome }}</p>
    <p>Função: {{ profissionais.funcao }}</p>
    <p>Obra: {{ profissionais.obra }}</p>

    <a href="{% url 'profissional-update' profissionais.id %}">Editar</a>
    <a href="{% url 'profissional-delete' profissionais.id %}">Deletar</a>
    <a href="{% url 'profissional-list' %}">Voltar para a lista</a>
</body>
</html>
