<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% if object %}Editar{% else %}Adicionar{% endif %} Profissional</title>
</head>
<body>
    <div class="container my-5">
        <h1 class="h3 text-center">{% if object %}Editar{% else %}Adicionar{% endif %} Profissional</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% if object %}Atualizar{% else %}Adicionar{% endif %}</button>
        </form>

        <a href="{% url 'profissional-list' %}" class="btn btn-secondary mt-3">Voltar para a lista</a>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
