<!-- materiais/material_detail.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Material</title>
</head>
<body>
    <h1>Detalhes de {{ material.nome }}</h1>
    <p>Descrição: {{ material.descricao }}</p>
    <p>Quantidade: {{ material.quantidade }}</p>
    <p>Preço Unitário: R$ {{ material.preco_unitario }}</p>
    <p>Data de Compra: {{ material.data_compra }}</p>
    <p>Obra: {{ material.obra }}</p>
    <p>Fornecedor: {{ material.fornecedor }}</p>

    <a href="{% url 'material-update' material.id %}">Editar</a>
    <a href="{% url 'material-delete' material.id %}">Deletar</a>
    <a href="{% url 'material-list' %}">Voltar para a lista</a>
</body>
</html>
